/* font family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Work Sans';
}

/*----------------------
  header section styles
  ----------------------*/

header {
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 70px;
    padding-top: 35px;
}

.heading {
    color: #131313;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}


nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 30px;
}

.navigation li {
    list-style-type: none;
    text-align: center;
    font-size: 16px;
    font-weight: 250;
}

.heading-info {
    text-align: center;
}

.heading-title {

    color: #131313;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.heading-description {

    color: #727272;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;
}

.btn-primary {
    padding: 19px 23px;
    color: #FFFFFF;
    font-weight: 550;
    font-size: 18px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.banner img {
    align-items: center;
    width: 1200px;
    height: 600px;
    padding: 40px 20px;

}

/*-------------------
 main section style 
--------------------- */



/*----------------------
  image section styles
  ---------------------- */


.img-container {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 60px;
}

.images {
    display: grid;
    grid-gap: 10px;
}


.img-title {
    font-size: 45px;
    line-height: 53px;
    padding-bottom: 8px;
}

#first-title {
    color: #727272;
    font-weight: 400;
}

#second-title {
    color: #131313;
    font-weight: 600;
}

#third-title {
    color: #FF900E;
    font-weight: 700;
}

.img-description {
    padding-bottom: 30px;
    font-weight: 350;
    font-size: 16px;
    color: #727272;
}


/*--------------------------
   experience section styles
 --------------------------- */

.experience-container {
    display: flex;
    gap: 70px;
}

.features-heading {
    border-left: 5px solid #FF900E;
    padding-left: 13px;
    color: #131313;
    font-weight: 650px;
    font-size: 43px;
    margin-bottom: 20px;
}

.features-description {
    font-weight: 300;
    font-size: 15px;
    color: #727272;
    
}

.feature {
    margin-top: 20px;
    padding: 12px 15px 10px 15px;
    box-shadow: 0 1px 2px 0 lightgray, 0 2px 6px 0 lightgray;
    border: none;
    border-radius: 8px;
}

.feature-text {
    font-weight: 500;
    font-size: 20px;
    color: #131313;
}

.feature-description {
    padding-top: 8px;
    font-weight: 300;
    font-size: 14px;
    color: #727272;
}



.btn-experience span {
    font-weight: 650;
    font-size: 50px;
}

.btn-experience {
    padding: 28px 23px;
    color: #FFFFFF;
    font-weight: 550;
    font-size: 18px;
    background-color: orange;
    border: none;
    border-radius: 8px;
    text-align: center;
}



/*----------------
  skills styles
  ----------------- */

.skills {
    margin-bottom: 50px;
}


.skills-title {
    font-weight: 700;
    font-size: 40px;
    color: #131313;
    padding-bottom: 20px;
}

.skills-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-bottom: 20px;
}

.all-skills {
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;
}

/* for 3d rotate  */

.rotate:hover {
    transform: rotateY(360deg) rotateX(18deg);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border: none;

}

.skill {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 35px 55px 35px;
    text-align: center;
    transition: 4s;
}

.skill-img {
    width: 45.22px;
    height: 45.22px;
}

.skill-number {
    font-weight: 600;
    font-size: 40px;
    color: #424242;
}

/*--------------------
   sponsors styles
  -------------------- */

.sponsors {
    text-align: center;
    margin-bottom: 50px;
}

.sponsors-title {
    font-weight: 700;
    font-size: 40px;
    color: #131313;
    padding-bottom: 10px;
}

.sponsors-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-bottom: 50px;
}

.all-sponsor {
    display: flex;
    justify-content: space-between;
}



/*----------------
  footer styles
  ----------------- */

footer {
    font-weight: 380;
    font-size: 18px;
    color: #424242;
    background-color: #FFF4E7;

    border-radius: 8px;

}



/*----------------------
   responsive for mobile 
  ------------------------ */


@media only screen and (max-width: 576px) {

    nav,
    ul,
    .img-container {
        flex-direction: column;
        align-items: center;
    }

    .heading {
        align-items: center;
    }

    .heading-info {
        margin-top: 50px;
    }

    .btn-primary {
        margin-top: 10px;
    }

    .banner img {
        width: 100%;
        height: 100%;
    }

    .img-description {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding: 10px;
    }
    
    .images img {
        width: 100%;
    }

    .experience-container {
        flex-direction: column;
    }

    .feature {
        margin: 0px 10px;
    }

    .experience-img img {
        width: 100%;
        height: 100%;
        padding: 0px 10px;
    }

    .img-btn {
        position: relative;
        top: -60px;
        left: 80px;
    }

    .features-heading {
        padding-left: 10px;
        margin-left: 18px;
    }

    .features-description {
        padding: 18px;
    }

    .skills {
        text-align: center;
    }

    .skills-description {
        padding: 0px 15px;
    }

    .all-skills {
        flex-direction: column;
    }

    .skill {
        margin-bottom: 20px;
    }

    .all-sponsor {
        flex-direction: column;
    }

    .all-sponsor img {
        padding: 20px;
        width: 100%;
        height: 50%;
    }

    footer {
        padding: 30px;
    }

}


/* ---------------------
   responsive for laptop 
------------------------- */

@media only screen and (min-width: 577px) {
    nav {
        padding-left: 200px;
        padding-right: 180px;
    }

    .heading-info {
        padding-top: 30px;
    }

    .heading-description {
        padding: 5px 300px;
    }

    main {
        padding: 0px 230px;
    }

    .images img {
        width: 250px;
        height: 250px;
    }

    .images {
        grid-template-columns: repeat(2, 1fr);
    }

    .experience-img img {
        width: 550px;
        height: 730px;
        align-items: center;
    }

    .img-btn {
        position: relative;
        right: 52px;
        top: -92px;
    }

    .experience-container {
        margin-top: 100px;
    }

    footer {
        padding: 30px 245px;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 120px;
        margin-left: 230px;
        margin-right: 230px;
    }

}